
.home .manage {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%) ; */
    margin: 100px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0,0.5);
    
}
.home .num {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 30px;
}
.home .num .el-card {
    width: 42%;
    box-shadow: 0 0 20px rgba(0, 0, 0,0.3);
}
.home .el-card {
    box-shadow: 0 0 20px rgba(0, 0, 0,0.3);
}
/* 
    去除卡片内边距
    .num .el-card__body {
    padding: 0px;
    display: flex;
} */

/* 图标 */
.home .num .icon {  
    font-size: 35px;
    line-height: 100px;
    width: 100px;
    text-align: center;
    color: #fff;
}
/* 表示信息 desc */
.home .num .desc {  
    margin-left: 20px;
}
.home .user {
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    
}

.home .user img {
    width: 150px;
    height: 150px;
    margin-right: 40px;
    margin-left: 60px;
    border-radius: 50%;
}
